form {
    padding: 20px;
  }

  
.example-full-width {
    width: 100%;
  }


  h4 {
    font-size: 2rem;
    line-height: 110%;
    margin: 1.52rem 0 .912rem 0;
  }

  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }