<div class="page-title">
    <h4>Кадры</h4>
</div>

<ul>
    <li>
        <a routerLink="/personnel/employee">Сотрудники</a>
    </li>
    <!--<li>
        <a routerLink="/personnel/schedule">График отпусков</a>
    </li>-->
    <li>
        <a routerLink="/personnel/schedule">График работы</a>
    </li>

    <li>
        <a routerLink="/personnel/organizational-structure">Организационная структура</a>
    </li>

</ul>

<h2>Штатное расписание</h2>
<ul>
    <li>
        <a routerLink="/personnel/staffing-table">Штатное расписание</a>
    </li>
    <li>
        <a routerLink="/personnel">Подразделения</a>
    </li>
    <li>
        <a routerLink="/personnel/positions-list">Должности</a>
    </li>
</ul>