.example-full-width {
    width: 45%;
    margin: 3px;
  }

.example-full {
  
   margin: 3px;
}

  .example-button-row {
    display: table-cell;
  }

  h4 {
    font-size: 2rem;
    line-height: 110%;
    margin: 1.52rem 0 .912rem 0;
  }
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }

  fieldset{
    border: none;
  }
  