<div class="login-container">
    <mat-card>
        <form class="card" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="app-name">
                <div class="brand-logo"></div>
            </div>  
            <h4>Вход в систему</h4>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email"/>
                <mat-error *ngIf="form.get('email').invalid && form.get('email').touched">
                    <span *ngIf="form.get('email').errors['required']">Email не должен быть пустым</span>
                    <span *ngIf="form.get('email').errors['email']">Введите корректный email-адрес</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Пароль</mat-label>
                <input matInput placeholder="Пароль" type="password" formControlName="password">
                <mat-error *ngIf="form.get('password').invalid && form.get('password').touched">
                    <span *ngIf="form.get('password').errors['required']">Пароль не должен быть пустым</span>
                    <span *ngIf="form.get('password').errors['minlength'] && form.get('password').errors['minlength']['requiredLength']">
                        Минимальная длина {{form.get('password').errors['minlength']['requiredLength']}} символов
                    </span>
                </mat-error>
            </mat-form-field>
            <div>
                <button mat-flat-button color="primary" type="submit">Войти</button>
            </div>
        </form>
    </mat-card>
</div>
