:host{
    color: #fff;
}

.docs-navbar-header {
    background: #673ab7;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
}

.brand-logo {
    padding-left: 40px;
}