<div class="page-title">
    <h4>Выплаты</h4>
</div>

<ul>
    <li>
        <a routerLink="/payments">Ведомости в банк</a>
    </li>
    <li>
        <a routerLink="/payments">Ведомости на счета</a>
    </li>
    <li>
        <a routerLink="/payments">Ведомости в кассу</a>
    </li>
    <li>
        <a routerLink="/payments">Обмен с банками (зарплата)</a>
    </li>
    <li>
        <a routerLink="/payments">Ввод лицевых счетов</a>
    </li>
    <li>
        <a routerLink="/payments">Депоненты</a>
    </li>
    <li>
        <a routerLink="/payments">Компенсация за задержку зарплаты</a>
    </li>
    <li>
        <a routerLink="/payments">Выплаты бывшим сотрудникам</a>
    </li>
</ul>