<div class="page-title">
    <h4>Отчетность, справки</h4>
</div>

<ul>
    <li>
        <a routerLink="/reporting">2-НДФЛ для ИФНС</a>
    </li>
    <li>
        <a routerLink="/reporting">Сведения о застрахованных лицах</a>
    </li>
    <li>
        <a routerLink="/reporting">4-ФСС</a>
    </li>
    <li>
        <a routerLink="/reporting">6-НДФЛ</a>
    </li>
</ul>

<h2>Справки сотрудникам</h2>
<ul>
    <li>
        <a routerLink="/reporting">2-НДФЛ</a>
    </li>
    <li>
        <a routerLink="/reporting">Справки для отчета пособий</a>
    </li>
</ul>