table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.row-hover:hover {
    background-color: rgba(0, 0, 0, .05);
    cursor: pointer;
}

.selected{
    background-color: rgba(0, 0, 0, .05);
  }

.btnComplete{
    float: right;
    margin: 10px;
}

.btnDelete{
    float: right;
    margin-right: 10px;
}

h4 {
    font-size: 2rem;
    line-height: 110%;
    margin: 1.52rem 0 .912rem 0;
    
}

form {
    padding: 20px;
}
.djs-container .highlight .djs-outline {
    stroke-width: 2px !important;
    stroke: #08c !important;
    fill: #bce2f5 !important;
 }
 .djs-container .highlight .djs-visual>:nth-child(1) {
    fill: #bce2f5 !important;
 }
 .diagram-container {
    height: 760px;
    width: 1600px;
    // border-radius: 15px;
    // border: 3px;
    background: #f8f7f777;
    // margin-left: 15px;
    // margin-right: 15px;
    margin-bottom: 15px;
    padding: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
  }
