<div class="page-title">
    <h4>Заявки</h4>
</div>
<ul>
    <li>
        <a routerLink="/request/requests">Все заявки</a>
    </li>
    <li>
        <a routerLink="/request/requests" >Заявка на выполнение ремонтных работ</a>
    </li>
    <li>
        <a routerLink="/request/requests" >Заявка на приобретение канцтоваров</a>
    </li>
    <li>
        <a routerLink="/request/requests" >Заявка на приобретение оборудования</a>
    </li>
</ul>

<h2>Создать</h2>
<ul>
    <li>
        <a routerLink="/request/request/new">Заявка на выполнение ремонтных работ</a>
    </li>
    <li>
        <a routerLink="/request/request/new">Заявка на приобретение канцтоваров</a>
    </li>
    <li>
        <a routerLink="/request/request/new">Заявка на приобретение оборудования</a>
    </li>
</ul>
