.brand-logo {
    background-image: url("/assets/icons/icon-144x144.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 80px;
}

.auth-block{
    height: calc(100vh - 64px);
}