<div class="page-title">
    <h4>Запущенные процессы</h4>
    <!-- <button mat-flat-button color="primary" routerLink="/personnel/employee/new">Создать</button> -->
</div>

<div class="row" *ngIf="instances$ | async as instances; else loader">
    
    <div class="col s12">
        <div *ngIf="instances.length; else empty" class="table-container">
            <span>Всего: {{instances.length}}</span>
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <ng-container matColumnDef="processName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Название </th>
                    <td mat-cell *matCellDef="let row"> {{row.processName}} </td>
                </ng-container>

                <ng-container matColumnDef="processInstanceId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Идентификатор </th>
                    <td mat-cell *matCellDef="let row"> {{row.processInstanceId}} </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Описание </th>
                    <td mat-cell *matCellDef="let row"> {{ description$ | async }} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="'/business-process/instance/' + row.processInstanceId" class="row-hover"></tr>

            </table>
        </div>
        <ng-template #empty>
            <div class="center">
                Процессов пока нет
            </div>
        </ng-template>
    </div>
</div>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>